* {
  margin: 0;
  font-family: "Poppins";
  font-size: 1.1rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.8rem;
}
.sidebar {
  display: flex;
  height: 100vh;
  width: 20%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #122a48;
  color: white;
}
.sidebar button {
  display: flex;
  gap: 1rem;
  background: #122a48;
  color: white;
  border: none;
  cursor: pointer;
  align-items: center;
}
.sidebar button:hover {
  background: #416693;
}
.menu-btn {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.main {
  width: 80%;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.main button {
  background: #122a48;
  color: white;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.main .account-balance {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: aliceblue;
}
.balance {
  font-size: 2rem;
}
